
This is the show page for <%=@user.username%>!

<a href="/occasions">click here to see all the days youve been blessed with gifts</a><br>
<br>Error here bc its showing everyone's occasions, not just the users</br>
link to page with count and list all gifts -Number of reasons to be thankful

<a href="/logout">logout</a>
