
<h1>Hello <%=@user.username%>!</h1>

<br><h4><a href="/occasions">Click Here to See All the Days You've Been Blessed With Gifts</a><br></h4>

<br><h4><a href="/gifts">Click Here to See Number of Reasons to be Thankful!</a></h4>

<img src="/images/371907580_SPECIAL_GIFT_400px.gif" alt="https://cliply.co/clip/special-gift/">
