


<br><h1>Number of reasons to be thankful:</h1><br>
<%@all_gifts = []%>
  <%@user_occasions.each do |o|%>
        <%o.gifts.each do |gift|%>
          <%@all_gifts << gift%>
        <%end%>
  <%end%>
<br><p style="font-size: 700%; color: blue; text-align:center; "><%=@all_gifts.count%></p><br>

<%@all_gifts.each do |gift|%>
  <ul style="list-style-type:circle;">
    <li><a href="/gifts/<%=gift.id%>"><%=gift.name%></a></li>
  </ul>
<%end%>
