
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<br>Occasion index page</br>
<h3>Click on an occasion to view it or <a href="/occasions/new">add a new occasion</a></h3>

  <%@occasions.each do |occasion|%>
    <li>
      <a href="/occasions/<%=occasion.id%>"><%=occasion.title%></a>
    </li>
  <%end%>



<br><a href="/users/<%=@user.id%>">Back to My Home Page</a></br>
