
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<br>Occasion index page</br>

  <%@occasions.each do |occasion|%>
    <li>
      <a href="/occasions/<%=occasion.id%>"><%=occasion.title%></a>
    </li>
  <%end%>




#back to users home page
<a href="/users/#{@user.id}">NOT WORKING Back to My Home Page</a>
