<h1>All the Days You've Been Blessed With Gifts</h1><br>


<h2>Click on an occasion to view it or <a href="/occasions/new">add a new occasion</a></h2>

  <%@occasions.each do |occasion|%>
    <ul style="list-style-type:circle;">
      <li><a href="/occasions/<%=occasion.id%>"><%=occasion.title%></a></li>
    </ul>
  <%end%>


<br>OR</br>
<br><a href="/users/<%=@user.id%>">Back to My Home Page</a></br>
