<h1>Add a New Occasion</h1>

<br><form action="/occasions" method="POST">
  <label for="title">Occasion Title: </label><input type="text" name="title">

  <input type="submit" value="Create New Occasion">
</form>

<br> <a href="/occasions">Cancel - Go Back</a>
