<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<br>this is <%=@occasion.title%>'s occasion show page</br>

list gifts

<% if current_user == @occasion.user %>

  <a href="/occasions/<%=@occasion.id%>/edit">Edit this Occasion</a>

  <br>Or add a new gift</br><a href="/gifts/new">Add a new gift</a>

  <br>Or delete this occasion

  <form action="/occasions/<%= @occasion.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" name="" value="Delete This Occasion">
  </form>

<%end%>

<a href="/occasions">Back to All Occasions</a>
