<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<br>Welcome! Please enter your username and password to login!</br>

<form action="/login" method="POST">
  <label for="username">Username:</label><input type="text" name="username">
  <label for="username">Password:</label><input type="password" name="password">

  <input type="submit" value="Login">
</form>
