<h1>Log In!</h1>

<br><h3>Welcome! Please enter your username and password to login!</h3></br>

<form action="/login" method="POST">
  <label for="username">Username:</label><input type="text" name="username">
  <label for="username">Password:</label><input type="password" name="password">

  <input type="submit" value="Login">
</form>

<br><h4>If you do not have an account, please <a href="/signup">Sign Up</a>.</h4><br>

<br><a href="/">Back</a>
