Sign up page!

<form action="/users" method="POST">
  <label for="username">Create New Username:</label><input type="text" name="username">
  <label for="username">Create New Password:</label><input type-"text" name="password">

  <input type="submit" value="Sign Me Up!">
</form>
