<div class="container">
  <header><img src="images/person-s-holds-brown-gift-box-842876.jpg" style="width:960px;height:400px;" align="middle" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">



    <% if flash.has?(:message) %>
      <%= flash[:message] %>
    <% end %>


    <h1 align="center">Presence_of_Presents</h1>
    <h2> A Gift Tracker</h2>

    <div class="content">
      <p>Welcome to a simple gift tracking app. This app is for you if you've:
        <br>- Ever recieved a gift but can't remember who/where/when it was from.
        <br>- Need to decide who to buy/ not to buy a present for.
        <br>- Need more reasons to be grateful in life.
       </p>

       To begin, please:

      <a href="/login">Log In</a> or <a href="/signup">Sign Up</a>
    </div>

    <div class="sidebar">
      <h3>Info</h3>
      <ul>
        <li><b>Start: </b>Started with Corneal gem</li>
        <li><b>Images: </b> <br>
          https://www.pexels.com/royalty-free-images/
          <br> https://cliply.co/
        </li>
      </ul>
    </div>

  </div>
</div>
